<section class="bg-main-light w-75 mx-auto m-5 p-3 rounded-2 shadow">
  <form [formGroup]="checkOut" (ngSubmit)="checkout()">
    <div>
      <label class="mb-2" for="details">Details</label>
      <textarea  id="details" class="form-control " formControlName="details" placeholder="details"></textarea>
    </div>
    <div class="my-4">
      <label class="mb-2" for="phone">Phone</label>
      <input type="tel" id="phone" class="form-control" formControlName="phone" placeholder="your phone"/>
    </div>
    <div>
      <label class="mb-2" for="city">City</label>
      <input type="text" id="city" class="form-control" formControlName="city" placeholder="your city"/>
    </div>
    <button class="btn bg-main text-white mt-3">Check Out</button>
  </form>



</section>
